*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color : #0F1012;
    --primary-color: #FFFFFF;
    --secondary-color: #E5BCE8;
    --input-color: #48494A;
}

body{
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
    background-color: #0F1012;
    color: #FFFFFF;
    
}

hmtl{
    font-size: 50.5%;
}

/* Header */

header{
    width: 100vw;
    height: 30vh;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo{
    width: 15vw;
    margin-left: 1rem;
}

.om{
    margin-top: .5rem;
}

.nav{
    width: 70vw;
    border-radius: 3rem;
    background-color: #1b1c1e;
    position: absolute;
    top: 25%;
    left: 0;
    height: 10vh;
    margin-left: -0.9rem;
}

.nav li{
    float: left;
    list-style-type: none;
    margin-top: .6rem;

}

.nav a{
    text-decoration: none;
    font-size: .8rem; 
}

.moo{
    color: #9a9b9b;
}

.pod{
    margin-top: -1.4rem;
    margin-left: 1.2rem;
}

.move{
    color: #E5BCE8;
}

.search{
    width: 11vw;
    margin-left: 13rem;
    border-radius: 40rem;
    background-color: #1b1c1e;
    position: absolute;
    top: 25%;
    right: 7%;
}

.search img{
    margin-top: .5rem;
    margin-left: .9rem;
}

.navexplore{
    width: 10vw;
    margin-left: 12rem;
    margin-top: .6rem;
    display: none
}

#pre{
    border: 2px solid #FFF;
    border-radius: 4rem;
    width: 10vw;
    padding: .5rem;
    font-size: .7rem;
    font-weight: 550;
}

.bell{
    width: 4vw;
    margin-left: 1rem;
    margin-top: .6rem;
    display: none;
}

.bell img {
    margin-left: .5rem;
    margin-top: .3rem;
}

.round{
    width: 4vw;
    margin-top: .6rem;
    display: none;
}

/* Main */

main{
    min-width: 10vw;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
}

.library{
    width: 35vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    background-color: #1b1c1e;
    display: none;
}

.lib{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
}

.lib1{
    width: 15vw;
    height: 5vh;
}

.lib2{
    width: 7vw;
    height: 5vh;
}

.lib p{
    font-size: .9rem;
    margin-top: -.1rem;
    color: #9a9b9b;
    margin-left: 1rem;
}

.folder{
    width: 16px;
}

.fa-arrow-right{
    margin-left: 1rem;
}

.fa-solid{
    color: #9a9b9b;
}

.playlist{
    width: 35vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: .3rem;
    border-radius: 1rem;
    background-color: #292A2C;
}

.playlist h2{
    font-size: .8rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.playlist p{
    font-size: .7rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.playlist button{
    margin-top: 1rem;
    padding: .5rem;
    width: 10rem;
    margin-left: 1rem;
    font-size: .7rem;
    border-radius: 1rem;
    border: none;
    font-weight: 500;
}

/* Movie Section */
 
.contents{
    width: 80vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.crawl{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-image: url(https://streamcoimg-a.akamaihd.net/000/414/8900/4148900-Banner-L2-ce019bb88729c5cc738074934f25bb8d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment:scroll;
    
}

.crawl h2{
    font-size: 1rem;
    margin-top: 10.5rem;
    margin-left: 3rem;
}

.crawl p{
    font-size: .8rem;
    margin-left: 1.6rem;
    margin-top: .9rem;
}

.btn{
    margin-top: -0.15rem;
}

.Top10{
    width: 2rem;
    height: 1.9rem;
    background-color: red;
    text-align: center;
    border-radius: .5rem;
    font-size: .7rem;
    margin-left: -1.5rem;
    color: #FFF;
    border: none;
    margin-top: 0.1rem;
}

#play{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: .7rem;
    border-radius: 10rem;
    border: none;
    font-size: .7rem;
}

#info{
    width: 7rem;
    margin-left: 2rem;
    margin-top: -1rem;
    border-radius: 10rem;
    border: 2px solid #FFF;
    background-color: transparent;
    color: #FFF;
    margin-bottom: -100rem;
    padding: .7rem;
    font-size: .7rem;
}

.genres{
    width: 63vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.explore{
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.exploretext{
    width: 40vw;
    
}

.showall{
    width: 20vw;
    text-align: center;
}

.showall a{
    color: #A9A9AA;
    text-decoration: none;
    font-size: .75rem;
}

.explore h2{
    font-size: .9rem;
    margin-top: .3rem;
    margin-left: 1.3rem;
}

.ss{
    width: 25vw;
    height: 10vh;
    margin-left: 1rem;    
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: #292A2C;
}

.hor{
    margin-left: 1rem;
}

.ll{
    width: 14vw;
    height: 10vh;
    border-radius: 1rem;
    background-color: #292A2C;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

#hide{
    display: none;
}

.genreslist{
    width: 95vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;

}


.genreslist p{
    margin-left: .3rem;
    font-size: .8rem;
}

.genreslist a {
    text-decoration: none;
    color: #FFF;
}

.onlyonomnify{
    width: 90vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.movieslist{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    text-align: left;
}

.movieslist p{
    font-size: .8rem;
    margin-top: 1rem;
    
}

.movieslist a {
    text-decoration: none;
    color: #FFF;
}

.ms{
    width: 50vw;
    height: 25vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.mov{
    width: 160px;
    height: 200px;
}

.movs{
    width: 160px;
    height: 130px;
}

