*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color : #0F1012;
    --primary-color: #FFFFFF;
    --secondary-color: #E5BCE8;
    --input-color: #48494A;
}
body{
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
    background-color: #0F1012;
    color: #FFFFFF;
}
header{
    text-align: center;
    margin-bottom: 2rem;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 1rem 0;
}
.heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.tab-choices{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #1B1C1E;
    padding: 0.5rem;
    border-radius: 150px;
}
.tab-btn{
    background-color:#0F1012;
    padding: 0.3rem 1rem;
    border: none;
    color:#A7A7A7;
    border-radius: 150px;
    font-size: 0.875rem;
    font-weight: 400;
}
/* .btnnn{
    display: flex;
    gap: 10px;
    padding: 1rem ;
} */
.btn-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}

.prev-btn{
    background-color: transparent;
    border: 1px solid #E5BCE8;
    border-radius: 150px;
    /* padding: 0.5rem 1rem; */
    width: 30%;
    color: #E5BCE8;
}
.next-btn{
    background-color: #E5BCE8;
    border: 1px solid #E5BCE8;
    border-radius: 150px;
    padding: 0.5rem 1rem;
    width: 30%;
}
.next{
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
    color: #E5BCE8;
    margin-bottom: 1rem;
}
.skip{
    text-decoration: none;
    color: #E5BCE8
}