*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color : #0F1012;
    --primary-color: #FFFFFF;
    --secondary-color: #E5BCE8;
    --input-color: #48494A;
}
body{
    font-family: "Manrope", sans-serif;
    min-height: 100vh;
    background-color: #0F1012;
    color: #FFFFFF;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
.container-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 50px auto;
    display: block;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.logo{
    margin: 1rem 0;
}
.heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.p-genre{
    color: #F5F5F6;
    font-size: 0.875rem;
    margin: 1.5rem 0;
}
.tab-choices{
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #1B1C1E;
    padding: 0.5rem;
    border-radius: 150px;
    width: 100%;
    margin: 0 auto;
}
.tab-btn{
    background-color: transparent;
    padding: 0.3rem 1rem;
    border: none;
    color:#A7A7A7;
    border-radius: 150px;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}
.tab-btn.active{
    background-color: #0F1012;
    color: #FAFAFA
}
.music-box .btn-container-music{
    display: none;
}
.music-box .btn-container-music.active{
    display: flex;
}
.btn-container-music{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.btn-container-podcast{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.music-box .btn-container-podcast.active{
    display: flex;
}
.music-btn{
    background-color:#1B1C1E;
    color: #C3C3C4;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 150px;
    gap: 0.8rem;
    cursor: pointer;
}
.afro{
    font-size: 1rem;
    font-weight: 400;
}
.btn-div{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1.5rem 0;
}
.prev-btn{
    background-color: transparent;
    border: 1px solid #E5BCE8;
    border-radius: 150px;
    /* padding: 0.5rem 1rem; */
    width: 30%;
    color: #E5BCE8;
    cursor: pointer;
}
.next-btn{
    background-color: #E5BCE8;
    border: 1px solid #E5BCE8;
    border-radius: 150px;
    padding: 0.5rem 1rem;
    width: 30%;
    cursor: pointer;
}
.next{
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
    color: #E5BCE8;
    margin-bottom: 1rem;
    cursor: pointer;
}
.skip{
    text-decoration: none;
    color: #E5BCE8
}


@media (min-width:900px){
    .container{
        width: 80vw;
    }
    .tab-choices{
        width: 50%;
        margin: 0 auto;
    }
    .heading{
        text-align: center;
    }
}

@media (min-width:1200px){
    .container{
        width: 50vw;
    }
    .tab-choices{
        width: 50%;
        margin: 0 auto;
    }
    .heading{
        text-align: center;
    }
}